.row{
	margin: 0;
	width: 100%;
	
}
.row .col-33{
	width: 32%;
	margin:0.0625rem;
	padding: 0.125rem;
	border: 2px solid skyblue;
	border-radius: 5px;
}
.word{
	width: 100%;
	text-align: center;
}
#shop-desc{
	margin-top: 0.25rem;
}
.price{
	color: red;
}
.word:hover{
}