
.page {
	background-color: white;
}

.card-content,
.item-content {
	height: 5rem;
}

.panel {
	background-color: #333;
}

.text_box {
	width: 1rem;
	padding-left: 1rem !important;
	height: 1.6rem !important;
	border: none;
	outline: none;
	background-color: #f5f5f5;
}

.item-title-row{
	margin: 0.125rem auto;
}
.price{
	color: gray;
	font-size: 0.8rem;
}